<%include ../common/include_header.html%>
<!-- about us slider -->
<div id="about-slider">
    <img src="http://localhost:3000/web/images/enb.png" style="width: 100%;min-height: 150px" >
</div><!--/#about-slider-->
    <div class="pls">
        <div class="row" style="margin: 3rem 0">
            <div class="col-md-4" style="padding: 3rem;" >
                <div class="enlistContent" data-toggle="modal" data-target="#myModal">
                    <img src="http://iph.href.lu/300x300" style="width: 100%;"/>
                    <div style="color:#666;padding: 1rem 2rem;font-size: 16px" class="enlistContent-title">
                        【太阳能庭院灯款式2】3.5米太阳能庭院灯景区园区景观灯
                    </div>
                    <div style="padding:1rem 2rem;color:#999;">施工地点：成都那个地方3号</div>
                </div>
            </div>
        </div>
        </div>
    </div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">详情</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6"><img style="width: 100%;" src="http://iph.href.lu/300x260"/></div>
                    <div class="col-md-6" style="font-size: 18px;color:#666;padding: 2rem 0">【太阳能庭院灯款式2】3.5米太阳能庭院灯景区园区景观灯</div>
                </div>
                <br/>
                <br/>
                <div class="prtext">
                    <p>	太阳能庭院灯采用单晶硅或多晶硅制作的太阳能电池板、支架、灯杆、灯头、专用灯泡、蓄电池、电瓶箱、
                        地笼等组成。
                        灯头造型多姿多彩、五彩缤纷、别致典雅，可以把庭院、公园、游乐场等装扮的如诗如画。该产品每充足
                        灯头造型多姿多彩、五彩缤纷、别致典雅，可以把庭院、公园、游乐场等装扮的如诗如画。该产品每充足
                        灯头造型多姿多彩、五彩缤纷、别致典雅，可以把庭院、公园、游乐场等装扮的如诗如画。该产品每充足
                        灯头造型多姿多彩、五彩缤纷、别致典雅，可以把庭院、公园、游乐场等装扮的如诗如画。该产品每充足
                        一次电可连续照明7-15天左右，每天工作6到10小时，也可按照用户的特殊要求设计定制。</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<%include ../common/include_footer.html%>
<script>
</script>
